@media (min-width: 769px)  {
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.menu {
    background-color: #333;
    color: white;
    padding: 20px;
    flex: 0 0 20%;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li {
    margin: 10px 0;
}

.menu a {
    color: white;
    text-decoration: none;
}

.content {
    padding: 20px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-bottom: 10px;
}

input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

select {
    padding: 10px;
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    appearance: none;
    margin-right: 10px;
    margin-left: 10px;
}

option {
    background-color: white;
    color: black;
}

label {
    margin-bottom: 10px;
    font-size: 20px;
}
}

@media (max-width: 768px) {
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    .container {
        display: flex;
        flex-direction: column;
        height: 100vh;
    }

    .menu {
        background-color: #333;
        color: white;
        padding: 20px;
        flex: 0 0 20%;
    }

    .menu ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .menu li {
        margin: 10px 0;
    }

    .menu a {
        color: white;
        text-decoration: none;
    }

    .content {
        padding: 20px;
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    label {
        margin-bottom: 10px;
    }

    input[type="text"] {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
    }

    select {
        padding: 10px;
        font-size: 20px;
        border: 1px solid #ccc;
        border-radius: 4px;
        background-color: white;
        appearance: none;
        margin-right: 10px;
        margin-left: 10px;

    }

    option {
        background-color: white;
        color: black;
    }

    label {
        margin-bottom: 10px;
        font-size: 20px;
    }
    



}
