.container {
    display: flex;
}

.sidebar {
    flex: 0 0 20%;
    background-color: #333;
    padding: 20px;
    height: 100vh;
}

.sidebar h2 {
    color: white;
    font-size: 30px;
    margin-bottom: 20px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    margin-bottom: 10px;
}

.sidebar a {
    text-decoration: none;
    color: white;
}

.content {
    flex: 0 0 80%;
    padding: 20px;
}

.option-content {
    display: none;
}

.option-content h3 {
    font-size: 26px;
}

.option-content textarea {
    width: 100%;
    margin-bottom: 10px;
}

.button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.button:hover {
    background-color: #45a049;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

.welcome {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    font-size: 100px;
}

.welcome img {
    width: 70px;
    height: 70px;
    margin-right: 10px;
}

.welcome h2 {
    font-size: 60px;
    margin: 0;
    font-family: Arial, sans-serif;
    color: #4c2a85;

}

p {
    font-size: 16px;
}

/* Reguli de media query pentru a face pagină responsive */
@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .sidebar {
        flex: 0 0 auto;
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }

    .content {
        flex: 0 0 auto;
        width: 100%;
    }

    .welcome {
        font-size: 60px;
        margin-bottom: 20px;
    }

    .welcome img {
        width: 50px;
        height: 50px;
        margin-right: 10px;
    }

    .welcome h2 {
        font-size: 40px;
    }

    p {
        font-size: 14px;
    }
}
