#chartdiv-charts {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#chartdiv-charts>div {
    width: 50% ;
    height: 400px;
    position: relative;
    align-items: center;
    justify-content: center;

}

#bar-charts {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#bar-charts>div{
    width: 50%;
    height: 400px;
    position: relative;
    align-items: center;
    justify-content: center;
}

#line-charts {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#linechart>div{
    width: 50%;
    height: 400px;
    position: relative;
    align-items: center;
    justify-content: center;
}
