#chartdiv-charts {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#chartdiv-charts>div {
    width: 50% ;
    height: 400px;
    position: relative;
    align-items: center;
    justify-content: center;

}

#bar-charts {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#barchart-div{
    width: 50% !important;
    height: 400px !important;
    position: relative;
}

